
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# The above will handle all files NOT found below
# These files are text and should be normalized (Convert crlf => lf)
*.css           text
*.df            text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsx           text
*.less          text
*.properties    text
*.sass          text
*.scm           text
*.scss          text
*.sh            text eol=lf
*.sql           text
*.styl          text
*.tag           text
*.ts            text
*.tsx           text
*.xml           text
*.yml           text
*.yaml          text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.mov           binary
*.mp4           binary
*.mp3           binary
*.flv           binary
*.fla           binary
*.swf           binary
*.gz            binary
*.zip           binary
*.7z            binary
*.ttf           binary
*.eot           binary
*.woff          binary
*.woff2         binary
*.pyc           binary
*.pdf           binary
*.ez            binary
*.bz2           binary
*.swp           binary
*.image         binary
*.jks           binary
*.p8            binary
*.p12           binary
*.key           binary
*.mobileprovision binary
*.pem           binary
